.body {
    font-family: Montserrat;
    margin: 0;
}
a {
    text-decoration: none;
}
/*-------------------------------HEADER------------------------------------*/
.header {
    color: #ffffff;    
}
.header__container {
    display: flex;
    justify-content:center;
}

    .header__container-items {
            position: absolute;
            min-height: 144px;
            display: flex;
            justify-content:center;
            align-items: center;               
            gap: 63px;
            z-index: 50;
            padding: 0 10px;

    }
        .header__container-logo {
            display: flex;
            align-items:center;
            flex: 1 1 auto;
            margin-right: 157px;
        }
        .header__container-logo a {
            font-family: Raleway;
            font-size: 34px;
            line-height: 1.2;
            font-weight: 400;
            letter-spacing: -0.04em; 
            color: #ffffff; 
                      
        }
        .header__container-menu {
            display: flex;
        }
        .header__container__burger{
            display: none;
        }
                .menu__list {
                    display: flex;
                    column-gap: 30px;
                    row-gap: 15px;
                    flex-wrap: wrap;
                }
                .menu__list-link {
                    color: #ffffff; 
                    font-size: 14px;
                    line-height: 1.2;
                    font-weight: 300;
                    text-decoration: linen;
                }
                #menu__list-link {
                    color: #c7b299;
                    font-size: 14px;
                    
                }
        .header__container-search {
            position: relative;
    
        }
                .search__items {
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    gap: 30px;
                    align-items: center;
                }
              
                .search-item {
                    display: flex;
                    align-items: center;
                    border-radius: 40px;
                }
            
                .search__item-input {
                    width: 160px;
                    height: 35px;
                    padding: 0 20px;
                    color: black;
                    border-radius: 40px;
                    outline: none;
                    border: none;
                    display: none;
                    font-size: 14px;    
                } 
                .search__item-btn {  
                }



                @media (max-width:900px) {
                    .header__container-logo {
                        margin-right: 0px;
                    }
                    .header__container-items {
                        width: 94%;
                        gap: 30px;
                    }
                    .header__container__burger {
                        display: block;
                        position: relative;
                        width: 30px;
                        height: 20px;
                        align-self: center;
                        cursor: pointer;
                    }
                    .header__container__burger::before, .header__container__burger::after {
                        content: "";
                        position: absolute;
                        background-color: #fff;
                        width: 100%;
                        height: 2px;
                        left: 0;
                        transition: all 0.3s ease;
                    }
                    .header__container__burger span {
                        position: absolute;
                        top: 9px;
                        background-color: #fff;
                        width: 100%;
                        height: 2px;
                        left: 0;
                        transition: all 0.3s ease;
                    }
                    .header__container__burger:before {
                        top: 0;
                    }
                    .header__container__burger:after {
                        bottom: 0;
                    }
                    .menu__list-link, #menu__list-link {
                        font-size: 20px;  
                    }
                    .menu__list-link:hover, #menu__list-link:hover {
                        text-decoration: underline;
                        z-index: 5;
                    }
                    
                    .menu__list {
                        position: absolute;
                        left: -100%;
                        top: 130px;
                        background-color: rgb(128, 128, 128, 0.3);
                        right: 110%;
                        display: flex;
                        flex-wrap: wrap;
                        transition: all 0.3s ease;
                    }
                    .header__container__burger.active:before {
                        transform: rotate(45deg);
                        top: 9px;
                        
                    }
                    .header__container__burger.active span {
                        transform: scale(0);
                    }
                    .header__container__burger.active::after {
                        transform: rotate(-45deg);
                        bottom: 9px;
                    }
                    .menu__list.active {
                        left: 15px;
                        right: 15px;
                    }
                }

/*--------------------------------MAIN-------------------------------------*/                
.main {
    
}
.main__container-banner {
    position: relative;
    height: 880px;
    padding-top: 144px;
}
    .banner__content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }
        .banner__content-items {
            display: flex;
            z-index: 2;   
            gap: 40px;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding-top: 213px;
            text-align: center;
        }
            .content-item-arrowleft {
                padding-left: 140px;
            }
            .content-item-info {
                color: #ffffff;
                font-family: Raleway;
                line-height: 1.2;
                justify-items: center;
                width: 590px;
                display: grid;
                gap: 13px;
                
            }
                .info__item {
                }
                .info__item-title {
                    font-size: 36px;
                    font-weight: 500;
                    margin: 0;
                }
                .info__item-subtitle {
                    font-size: 52px;
                    font-weight: 800;
                    margin: 0;
                }
                .info__item-text {
                    font-family: Montserrat;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 300;
                    padding-bottom: 37px;
                }

                .info__item-button {
                    width: 170px;
                    height: 53px;
                    background-color: #998675;
                    box-shadow: inset 0px 0px 0px 0px #736357;
                    border-radius: 3px;
                    font-family: Raleway;
                    font-size: 14px;
                    line-height: 23px;
                    font-weight: 800;
                    text-transform: uppercase;
                    color: #ffffff;
                    border: none;
                    cursor: pointer;
                }
                .info__item-button:active {
                    background-color: #ac9683;
                }
                .info__item-button:hover {
                    box-shadow: 0 0 10px #998675;
                }
            .content-item-arrowright {
                padding-right: 140px;
            }
            
        .banner__banner img {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                object-fit: cover;  
                    
        }
        .banner__content-numbers {
            position: absolute;
            bottom: 40px;
            height: 25px;
            display: flex;
           
        }
        .form__banner-number{
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;

        }
            .banner-number {
                width: 11px;
                height: 11px;
                opacity: 0.5;
                background-color: #ffffff;
                cursor: pointer;
                border-radius: 50%;
                border: none;
                display: flex;
                transition: all 0.2s ease;    
            }
            .banner-number:active {
                width: 15px;
                height: 15px;
                background-color: rgba(255,255,255,0.0);
                border: 2px solid #d3c1ad;
            }
        @media (max-width:1600px) {
            .content-item-arrowleft {
                padding-left: 20px;
            }
            .content-item-arrowright {
                padding-right: 20px;
            }  
        }
        @media (max-width:1070px) {
            .content-item-arrowleft {
                padding-left: 0px;
            }
            .content-item-arrowright {
                padding-right: 0px;
            }  
        }
        @media (max-width:900px) {
            .info__item-title {
                font-size: 22px;
            }
            .info__item-subtitle {
                font-size: 32px;
            }
            .info__item-text {
                font-size: 14px;
            }
            .info__item-text br {
                display: none;
            }
            .content-item-arrowleft img, .content-item-arrowright img {
                width: 80%;
            }
        }
/*-------------------------------------------------------------------------*/  

.main__container-resource {
    
}
    .container-resource__items {
        max-width: 1165px;
        min-height: 375px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        text-align: center;
        padding: 0 10px;
    }
        .container-resource__item {
            width: 270px;
            height: 232px;
            display: flex;
            flex-direction: column;
        }
        .container-resource__item img {
            width: 49px;
            height: 49px;
            object-fit: none; 
            vertical-align: bottom;
        }
        .container-resource__item p {
            margin: 0 0 30px 0;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #8c8c8c;
        }
        .container-resource__item h3 {
            margin: 28px 0 19px 0;
            font-family: Raleway;
            font-size: 22px;
            line-height: 1.2;
            font-weight: 600;
        }
        .container-resource__item a {
            color: #555555;
            width: 49px;
            margin: 0 auto;
            justify-self: center;
        }
            .item-line {
                width: 70px;
                height: 3px;
                background-color: #f1eee9;
                margin: 0 auto;
            }
        .item-orange a {
            color: #c7b299;
            }
        .item-orange .item-line {
            background-color: #c7b299;
        }

@media (max-width:1205px) {
    .container-resource__items {
        justify-content: space-evenly;
        margin: 30px 0 0 0;
        flex-wrap: wrap;
    }
    .container-resource__item h3 {
        margin: 14px 0 8px 0;
    }
}
@media (max-width:830px) {
    .container-resource__items {
        gap: 20px;
    }
}
@media (max-width:620px) {
    .container-resource__items {
        flex-direction: column;
        gap: 0;
    }
}
/*-------------------------------------------------------------------------*/ 


.main__container-ideas {
    background-color: #fbfaf8;
    padding: 85px 0 0 0; 
}
    .container-ideas__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1230px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        box-sizing: border-box;
    }
        .ideas__item-title h2 {
            font-family: Raleway;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 600;
            color: #555555;
            margin: 0 0 25px 0;
            padding: 0 10px;
        }
        .ideas__item-text {
            font-family: Montserrat;
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: #8c8c8c;
            margin: 0 0 40px 0;
            max-width: 770px;
            padding: 0 10px;
        }
        .ideas__item-banners {
            max-height: 482px;
        }
        .ideas__item-banners img {
            width: 100%;  
            max-width: 770px; 
            object-fit: cover;
            
            
        }
            .banner-left {
                position: absolute;
                bottom: 0;
                left: 0px;
                z-index: 1;
            }
            .banner-center {
                position: relative;
                z-index: 2;
              
            }
            .banner-right {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 1;      
            }
@media (max-width:1205px) {
    .main__container-ideas {
        padding-top: 20px;
    }
}
@media (max-width:788px) {
    .banner-left, .banner-right {
        display: none;
    }
    .ideas__item-banners img {
        margin-bottom: -4px;
    }
    .ideas__item-text {
        margin-bottom: 5px;
    }
    .ideas__item-title h2 {
        font-size: 24px;
    }
}

/*-------------------------------------------------------------------------*/ 

.main__container-purchase {
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);

}
    .container-purchase__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        height: 150px;
        padding: 0 30px;
        box-sizing: border-box;
        max-width: 1230px;
        
    }
        .purchase__item1 {
        }
            .purchase__item1-title {
                font-family: Raleway;
                font-size: 28px;
                line-height: 1.2;
                font-weight: 400;
                color: #ffffff;
            }
            .purchase__item1-title span {
                color: #c7b299;
            }
            .purchase__item1-text {
                font-family: Montserrat;
                font-size: 18px;
                line-height: 1.2;
                font-weight: 300;
                color: #615855;
            }
        .purchase__item2 .info__item-button {
            height: 50px;
            
        }
  
@media (max-width:780px) {
    .container-purchase__items {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        text-align: center;
        padding: 0 10px;
    }
}
@media (max-width:590px) {
    .purchase__item1-title {
        font-size: 22px;
    }
    .purchase__item1-text {
        font-size: 14px;
    }
}
/*-------------------------------------------------------------------------*/ 

.main__container-projects {
    margin-top: 82px;
}
    .container-projects__items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 10px;
        box-sizing: border-box;
    }
        .projects__item-title {
            font-family: Raleway;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 600;
            color: #555555;
            margin-bottom: 25px;
        }
        .projects__item-text {
            font-family: Montserrat;
            font-size: 16px;
            line-height: 28px;
            font-weight: 300;
            color: #8c8c8c;
            margin-bottom: 40px;
            max-width: 770px;
            text-align: center;
        }
        .projects__item-menu {
            display: flex;
            margin-bottom: 42px;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
        }
            .menu__button button {
                width: 120px;
                height: 32px;
                background-color: rgba(17,17,17,0.0);
                border: 1px solid #ebebeb;
                border-radius: 3px;
                font-family: Montserrat;
                font-size: 14px;
                line-height: 21px;
                font-weight: 300;
                color: #8c8c8c;
                cursor: pointer;
            }
            .menu__button:last-child button {
                width: 135px;
            }
            .menu__button:first-child button {
                background-color: #998675;
                color: #ffffff;
                width: 70px;
            }
            .menu__button button:hover {
                box-shadow: 0 0 5px;
            }
        .projects__item-project {
            display: flex;
            max-width: 1170px;
            flex-wrap: wrap;
            justify-content: center;    
            gap: 30px;
            position: relative;
        }
        .project-item {
            position: relative;
        }
                .project-item__img {
                    position: relative;  
                    z-index: 2; 
                }
                .project-item__img-black {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 370px;
                    height: 237px;
                    background-color: rgba(17,17,17,0.7);
                    display: none;
                }
                .project-item:hover .project-item__img-black {
                    display: block;
                }
                .project-item:hover .project-item__exposition {
                    background-color: #362f2d;
                }
                .project-item__img img {
                    display: block; 
                }
                .project-item__img-icons {
                    position: absolute;
                    display: none;
                    z-index: 10;
                    gap: 25px;
                    bottom: 54%;
                    left: 40%;                   
                }
                .project-item:hover .project-item__img-icons {
                    display: flex;
                }
                .project-item:hover .project-item__title {
                    color: #ffffff;
                }
                .project-item:hover .project-item__subtitle {
                    color: #c7b299;
                }
                .project-item__exposition {
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 10px;
                    background-color: #fbfaf8;
                    padding-left: 25px;
                }
                    .project-item__title {                        
                        font-family: Raleway;
                        font-size: 20px;
                        line-height: 1.2;
                        font-weight: 500;
                        color: #c7b299;
                    }
                    .project-item__subtitle {
                        font-family: Montserrat;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 300;
                        color: #d1d1d1;
                    }
        .projects__item-button button {
            height: 50px;
            margin: 40px 0 80px 0;
        }
/*-------------------------------------------------------------------------*/ 




/*-------------------------------------------------------------------------*/ 



/*--------------------------------FOOTER------------------------------------*/
.footer {
    position: relative;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    background-color: #111111; 
    

}
    .footer__container {
        max-width: 1190px;
        margin: 0 auto;

    }
        .footer__container-items {
            min-height: 111px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        
        @media (max-width:900px) {
            .footer__container-items {
                flex-direction: column;
                justify-content: center;
                gap: 15px;
            }
        }
            .footer__items-link {
                display: flex;

            }
                .item-link a {
                    color: #555555;
                }
                .item-link span {
                    color: #252525;
                    margin: 0 12px;
                }
                #item-link-white {
                    color: #959595;
                }
                .link-FAQ a {
                    color: #c7b299;
                }








